.App {
  background-image: radial-gradient(
    circle at top left, 
    #438c75, 
    #021f15 50%
    );
    
  /* text-align: center; */
}

.App-header {
  background-image: radial-gradient(
    circle at top left, 
    #438c75, 
    #021f15 50%
    );
  min-height: 100vh;
  display: flex;
  /*flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}


img.NavBar-Alex{
  max-width: 30%;
}
/* 
 #NavBar{
  display: inline;
  overflow: hidden
} */

div.link-div{
  float: right;
  padding-right: 15%;
  padding-top: 8px;
}

div.link-div a.navLink{
  padding: 10%;
  color: #5cc9cd

}

nav#NavBar.navbar{
  display: inline;
}

div.col{
  min-height: 100vh;
  align-content: center;
  padding-top: 40%;
}

div#alexpic{
  padding-top: 20%;
}

div#alexinfo{}